
$padding-horizontal: 250px;

//Cores
$cor-do-texto: #d9d9d9;
$azul-escuro: #041833;
$azul-claro: #154580;
$azul-rodape: #04244f;
$rosa: #c98cf1;
$roxo: #7b78e5;
$cinsa-claro: #9d9d9d;
$tag-color: rgba(148, 163, 184, 0.3);


//Cores do curso
$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$red-dark: #c62a2a;
$titulo-menu: #1c0226;
$darkest-grey: #70707b;

$roxo: #530685; 
$rosa: #ff1090;
$rosa-claro: #E3A2CC;
$roxo-claro: #73038B;

