.paginaGlobal {
    display: flex;
    text-align: center;
    margin: 60px 0;
    flex-wrap: wrap;


    &__imagem {
        flex-wrap: wrap;
        width: 100%;
        height: 360px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    &__texto {
        display: flex;
        justify-content: center;
        font-size: 60px;
        font-weight: 800;
        color: #FFF;
        position: absolute;
        width: 400px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin: 10px 20px;
        flex-wrap: wrap;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

}



